.places {
    text-align: center;
    margin: 40px auto;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #FF5A5F;
    display: inline-block;
    
}
article h2 {
    font-size: 30px;
    text-align: center;
}
h1 {
    font-size: 30px;
    text-align: left;
    margin: 30px 10px;
}
.last {
    margin-left: 300px;
}